@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";

html, body {
  width: 100%;
  height: 100vh;
}

body {
  background-color: black;
  background-align: top center;
  position: relative;
  padding: 0 20px;
}

@media (max-width: 500px) {
  body {
    background-image: url('images/background_mob.jpg');
    background-size: cover;
    background-position: center top;
  }
}

@media (min-width: 501px) {
  body {
    background-image: url('images/background_desktop.jpg');
    background-size: cover;
    background-position: center top;
  }
}

.background {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.logo {
  img {
    display: block;
    max-width: 11.8vw;
    width: 100%;
    position: relative;
    top: 2.5vw;
    left: 50%;
    transform: translateX(-50%);
    @media (max-width: 1151px) {
      max-width: 38.7vw;
      top: 5.1vw;
    }
    @media (max-width: 1151px) {
      max-width: 38.7vw;
      top: 11.1vw;
    }
  }
}

.coupledom {
  position: relative;
  top: 22vw;
  max-width: 34vw;
  margin: 0 auto;
  text-align: center;
  img {
    width: 100%;
    &.join {
      max-width: 45%;
      margin-top: 2vw;
    }
  }

  @media (max-width: 1151px) {
    top: 40vh;
    max-width: 100%;
    img {
      width: 100%;
      max-width: 100%;
      &.join {
        max-width: 65%;
        margin-top: 5vh;
      }
    }
  }

  #mc_embed_signup {
    @media (max-width: 1151px) {
      width: 100%;
    }
    input.email, input {
      border-radius: 0;
      padding: 1.5vw 2.5vw;
      color: white !important;
    }
    input.email {
      font-size: 14px;
      background-color: rgba(255, 255, 255, 0.32);
      margin: 0;
      border: none;
      letter-spacing: .05vw;
      &::placeholder {
        color: white;
      }
      @media (max-width: 1151px) {
        width: 60%;
        font-size: 3vw;
        padding: 5vw 7vw;
      }
    }

    input.button {
      margin-left: -4px;
      font-size: 0;
      line-height: 0;
      background: url('images/subscribe.jpg') no-repeat;
      background-size: cover;
      background-position: top center;
      padding: 1.5vw;
      width: 10vw;
      @media (max-width: 1151px) {
        width: 26.9vw;
        margin-left: -2vw;
        padding: 5vw;
      }
    }
    @media (max-width: 1151px) {
      .clear {
        height: 0;
        width: auto;
        display: inline;
      }
    }
    @media (max-width: 1151px) {
      width: 100%;
    }
  }

  p.disclaimer {
    font-size: 12px;
    color: white;
    width: 74%;
    margin: 0 auto;
    line-height: 1.2;
    @media (max-width: 1151px) {
      width: 100%;
      letter-spacing: 0;
      font-size: 2.7vw;
      line-height: 1.4;
      margin-top: 3vw;
    }
    a {
      color: white;
      text-decoration: underline;
      &:visited {
        color: white;
      }
    }
  }

  ul.social {
    margin: 2vw auto 1vw auto;
    list-style-type: none;
    width: 100%;
    max-width: 8vw;
    display: flex;
    justify-content: space-between;
    @media (max-width: 1151px) {
      max-width: 40vw;
      margin-top: 5vh;
    }
    li {
      display: block;
      width: 1.35vw;
      position: relative;
      @media (max-width: 1151px) {
        width: 5vw;
      }
        img {
          display: block;
          width: 100%;
          max-width: 100%;
          position: absolute;
          top: 50%;
          transfrom: translateY(-50%);
        }
      &:last-child {
        width: 1.54vw;
        @media (max-width: 1151px) {
          width: 6vw;
        }
      }
    }
  }
}

body.legal {
  background: white;
  .logo {
    margin: 50px auto 50px auto;
    max-width: 400px;
    position: relative;
    img {
      width: 100%;
      max-width: 100%;
      top: 0;
      left: 0;
      transform: none;
    }
  }
  .container {
    display: block;
    h1 {
      font-size: 30px;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 30px;
    }
    ol {
      li {
        margin-bottom: 30px;
      }
    }
    p {
      margin-bottom: 30px;
    }
    h3 {
      font-weight: bold;
      margin-bottom: 30px;
    }

    ul {
      list-style-type: disc;
    }

    padding-bottom: 50px;
  }
}
