html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

$breakpoint-sm: 540px;
$breakpoint-md: 720px;
$breakpoint-lg: 960px;

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 30px;
}

.container-full {
    max-width: 2000px;
    margin: 0 auto;
    padding: 0 30px;
}