html, body {
  box-sizing: border-box;
  width: 100%;
}

button {
  padding: 0;
  margin: 0;
  background: none;
  border: 0;
}

a.button {
  &__primary {
    display: inline-block;
    background-color: $army;
    margin-top: 1.7vw;
    padding: 1vw 2vw;
    transition: background-color 0.3s ease;
    text-decoration: none;
    border: 1px solid black;
    color: $black;
    &:hover {
      background: darken($army, 10%);
    }
  }
}

.interior {
  padding: 0 4.5vw;
}

.ad-placement-1, .ad-placement-2 {
  a.long-banner {
    display: block;
    width: 100%;
    max-width: 1362px;
    margin: 6vw auto;
    @media screen and (max-width: $breakpoint-lg) {
      margin-top: 12vw;
    }
    img {
      width: 100%;
      max-width: 1362px;
    }
  }
}

.agile__actions {
  @media screen and (max-width: $breakpoint-lg) {
    top: -55vw;
  }
  position: absolute;
  button.agile__nav-button {
  cursor: pointer;
  padding: 2vw;
  z-index: 5;
  position: absolute;
  top: -25vw;
  background: $black;
  color: $white;
  &.agile__nav-button--prev {
    left: 0;
    right: auto;
    color: $white;
  }
  &.agile__nav-button--next {
    right: -100vw;
    color: $white;
  }
  }
}
