.top-bar {
  background-color: $army;
  width: 100%;
  height: 10px;
}

.header-content {
  nav {
    display: flex;
    padding: 2.6vw 2.60vw;
    flex-wrap: nowrap;
    width: 100%;
    a, button {
      flex-grow: 0;
      font-size: 1.2vw;
      border: none;
      color: $black;
      text-decoration: none;
      text-align: left;
      justify-self: center;
      align-self: center;
      margin-right: 2.60vw;
      &:nth-child(3) {
        margin-right: 0;
      }
      &:last-child {
        margin-right: none;
        flex-grow: 0;
      }
    }
    .logo {
      justify-self: center;
      align-self: center;
      flex-grow: 1;
      text-align: center;
      margin-right: 0;
      img {
        width: 100%;
        max-width: 20vw;
      }
    }
  }
}
