.post-list-container {
  padding-bottom: 4.5vw;
  ul {
    list-style-type: none;
  }
  .post-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 4.5vw;
    width: 100%;
    gap: 5%;
    margin: 0;
    @media screen and (max-width: $breakpoint-lg) {
      grid-template-columns: repeat(2, 1fr);
    }
    li {
      margin-bottom: 4.5vw;
      position: relative;
      h4 {
        border-bottom: 2px solid $black;
        width: 100%;
      }
      &:nth-child(4) {
        background: $lightbrown;
        grid-column: 1/-1;
        display: flex;
        margin: 0 -4.5vw;
        article {
          display: block;
          padding: 4.5vw;
          .image {
            float: left;
            order: 1;
            width: 49.5%;
            max-width: 49.5%;
            padding-top: 36%;
          }
          .content {
            padding-top: 2vw;
            float: left;
            margin-left: 4.5vw;
          }
          h3{
            width: 80%;
            padding-top: 7vw;
            height: auto;
            margin: 0;
            font-size: 4vw;
            &[style] {
              height: auto !important;
            }
          }
          h4 {
            width: 80%;
            border: none;
            margin-top: 0;
            font-size: 1.3vw;
            clear: both;
            &[style] {
              height: auto !important;
            }
          }
        }
      }
    }
    em {
      font-family: Publico Banner Web, serif;
    }
  }

}
