.search-results {
  h1 {
    margin-top: 30px;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
  }
  .post-list {
    li {
      &.no-results {
        text-align: center;
      }
    }

    @media screen and (max-width: $breakpoint-lg) {
      margin-bottom: 7vw;
      padding-bottom: 7vw;
    }
    .read-more a {
      color: white;
    }
  }
}
