@import 'variables';
@import 'grid';
@import 'colors';
@import 'wp-styling';
@import 'common';
@import 'typography';
@import 'header';
@import 'posts';
@import 'homepage';
@import 'categories';
@import 'footer';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: acumin-pro, sans-serif;
  font-weight: 300;
}

.only-desktop {
  @media screen and (max-width: $breakpoint-xl) {
    display: none !important;
  }
}

.only-desktop-tablet {
  @media screen and (max-width: calc(#{$breakpoint-lg} - 1)) {
    display: none !important;
  }
}

.only-mobile {
  @media screen and (min-width: $breakpoint-md) {
    display: none !important;
  }
}

.only-mobile-tablet {
  @media screen and (min-width: $breakpoint-xl) {
    display: none !important;
  }
}
