@import 'variables';

.bold {
  font-weight: bold;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: acumin-pro, sans-serif;
  font-weight: 300;
}

.layout {
  width: 100%;
  margin: 0 auto;
}

.container {
  width: 100%;
  .interior {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 30px;
    @media screen and (max-width: $breakpoint-md) {
      padding: 0 3vw;
    }
  }

  p, li {
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 16px;
    @media screen and (max-width: $breakpoint-md) {
      font-size: 3.8vw;
      margin-bottom: 4vw;
      margin-top: 2vw;
    }
  }
}

.page {
  .interior {
    max-width: 1280px;
  }
}

.post.interior {
  max-width: 755px;
}

.only-desktop {
  @media screen and (max-width: $breakpoint-xl) {
    display: none !important;
  }
}

.only-desktop-tablet {
  @media screen and (max-width: calc(#{$breakpoint-lg} - 1)) {
    display: none !important;
  }
}

.only-mobile {
  @media screen and (min-width: $breakpoint-md) {
    display: none !important;
  }
}

.only-mobile-tablet {
  @media screen and (min-width: $breakpoint-xl) {
    display: none !important;
  }
}

.alignright {
  text-align: right;
}

figure {
  margin: 30px 0 0 0;
}

button {
  margin-top: 7px;
  margin-left: auto;
  font-family: acumin-pro-extra-condensed, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  padding: 10px 20px;
  line-height: 1;
  letter-spacing: 1px;
  border: 0;
  background: linear-gradient(0deg, #18413c 50%, #224c45 50%);
  color: white;
  border-radius: 0;
  @media screen and (max-width: $breakpoint-md) {
    font-size: 5vw;
  }
  &:hover {
    cursor: pointer;
  }
}

.post-list {
    margin: 48px 0 0 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 42px;
    @media screen and (max-width: $breakpoint-lg) {
      margin-top: 7vw;
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: $breakpoint-md) {
      margin-top: 7vw;
      grid-template-columns: repeat(1, 1fr);
    }
    li {
      margin: 0;
      padding: 0;
      width: 100%;
      margin-bottom: 42px;
      @media screen and (max-width: $breakpoint-lg) {
        margin-bottom: 0;
        padding-bottom: 2.15vw;
      }
      h4 {
        font-size: 14px;
      }
      h2 {
        font-size: 23px;
        line-height: 1.1;
        @media screen and (max-width: $breakpoint-md) {
          font-size: 6vw;
        }
      }
    }
  }

  .page {
    padding-bottom: 60px;
    max-width: 755px;
    margin: 0 auto 0 auto;
    padding-top: 48px;
    .image-container {
      padding: 0 27px 27px;
      border-bottom: 1px solid black;
      border-top: 1px solid black;
      margin-bottom: 27px;
      padding-top: 27px;
      img {
        width: 100%;
        max-width: 100%;
      }
    }
    @media screen and (max-width: $breakpoint-lg) {
      padding-bottom: 10vw;
      width: 100%;
    }
  .page-heading {
    font-size: 14px;
    border-bottom: 1px solid black;
    margin: 0 0 25px 0;
    padding: 0 0 25px 0;
    text-transform: uppercase;
    text-align: center;
  }
  h1 {
    font-family: acumin-pro-extra-condensed, sans-serif;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    margin: 0 0 25px;
    padding: 0;
    line-height: 1.1;
    @media screen and (max-width: $breakpoint-md) {
      font-size: 8vw;
      line-height: 1.2;
      margin: 4vw 0;
      padding: 0;
    }
  }
  h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0 0 12px 0;
    padding: 0;
    letter-spacing: 1px;
    font-weight: 400;
    @media screen and (max-width: $breakpoint-md) {
      font-size: 3.5vw;
    }
  }
  .page-content {
    font-size: 16px;
    line-height: 1.5;
    h2, h3, h4, h5, h6 {
      text-align: left;
      margin: 0 0 23px 0;
      padding: 0 0 0 0;
      @media screen and (max-width: $breakpoint-lg) {
        margin: 0 0 2vw 0;
        padding: 0;
      }
    }
    hr {
      margin: 32px 0;
      height: 1px;
      border: none;
      background: black;
    }
    h2 {
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 45px;
      @media screen and (max-width: $breakpoint-lg) {
        font-size: 3vw;
        line-height: 1.2;
        margin-bottom: 2vw;
      }
      @media screen and (max-width: $breakpoint-md) {
        font-size: 5vw;
        margin-bottom: 6vw;
      }
    }
    h3 {
      margin-top: 32px;
      @media screen and (max-width: $breakpoint-lg) {
        font-size: 2vw;
        line-height: 1.2;
        margin-top: 2vw;
      }
      @media screen and (max-width: $breakpoint-md) {
        font-size: 4.5vw;
      }
    }
  }
}
